@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (!String.IsNullOrEmpty(ViewBag.userId)){ 
    <h1>User Id: @ViewBag.userId</h1>
}
